@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primercolor:#3895EA;
    --segundocolor:#5A5A5A;
    --tercercolor:#323068;  
    --cuartocolor:#F2F2F2;
    --quintocolor:#DD820D;
    --fuente:'Open Sans', sans-serif; 
}
.header{
    position:relative;
}
.header__banner{
    background-image:linear-gradient(rgba(74,100,231,.8),rgba(12,78,154,.8)), url(../img/banner.jpg);
    background-size: cover;
    background-position: center ;
    width:100%;
    height:600px;
    padding:0.1px;
}

.navbar__menu{
    display:flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 180px;
}
.navlinks{
    list-style: none;
    padding:0 20px;
    font-family:var(--fuente);
    font-size:16px;
    color:var(--cuartocolor);
}
.header__logo{
    border:2px solid var(--cuartocolor);
    position:absolute;
    width:340px;
    height:125px;
    text-align: center;
    margin: 160px 500px;
}
.header__logo h1{
    font-size:50px;
    font-weight: 100;
    font-family: var(--fuente);
    color:var(--cuartocolor);
}
.header__logo p{
    font-weight: 100;
    font-size:25px;
    font-family: var(--fuente);
    color:var(--cuartocolor);
}

.acerca__de{
    background-color: transparent;
    width:830px;
    height:305px;
    position:absolute;
    left:50%;
    right:50%;
    transform:translate(-50%,-50%);
    margin-top: 90px;
}
.acerca__img{
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position:left center;
    background-repeat: no-repeat;
    width:125px;
    height:125px;
    border-radius: 50%;
    margin:0 auto;
    border:7px solid rgb(255, 255, 255);
  /*   outline: rgba(255, 255, 255, 0.200) solid 7px; */
}

.acerca__de h2{
    font-family: var(--fuente);
    color:var(--quintocolor);
    font-weight:100;
    font-size:34px;
    text-align: center;
    margin-top: 30px;
}
.acerca__de p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    font-family: var(--fuente);
    text-align: center;
}
.acerca__de span{
    color:var(--primercolor);
}

/*MAIN TRABAJO*/
.main__page{
    margin-top: 300px;
}
.main__trabajo{
    width:100%;
    height:858px;
    background-color: var(--cuartocolor);
}
.trabajo__heading{
    font-family: var(--fuente);
    font-weight: 100;
    font-size:34px;
    text-align:center;
    padding:40px 0;
}
.trabajo__proyecto{
    margin:0 auto;
    max-width:1000px;
    height:639px;
}
.trabajo__proyecto{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.proyecto__img{
    max-width:235px;
    height:235px;
    width:100%;
    object-fit: cover;
    object-position: left;
    border-radius: 5px;
}
.proyecto__item{
    margin:20px 0;
}
.proyecto__item figcaption{
    text-align: center;
}
.proyecto__txt{
    margin:16px auto 7px;
    color:var(--primercolor);
    font-family: var(--fuente);
    font-size: 16px;
    font-weight: bold;
}
.proyecto__desc{
    font-size:14px;
    color:var(--segundocolor);
    font-family: var(--fuente);
    font-weight: 100;
}
/*FORMULARIO*/
.contenedor__formulario h2{
    font-weight: 100;
    font-family: var(--fuente);
    font-size:34px;
    text-align: center;
    color:var(--primercolor);
}
.contenedor__formulario{
    max-width:660px;
    margin:40px auto;
}
.contenedor__row{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.input__form{
    border-radius: 5px;
    font-family: var(--fuente);
    font-size:16px;
    padding:5px 10px;
}
.input__column{
    width:320px;
    height:50px;
}
.contenedor__asunto{
    margin:20px 0;
}
.input__txt{   
    resize: none;
    max-width: 660px;
    min-width: 660px;
    max-height: 104px;
    min-height: 104px;
}
.contenedor__boton{
   text-align: center;
}
.input__btn{
    background-color: var(--primercolor);
    border:none;
    width:150px;
    height:50px;
    font-size:20px;
    color:var(--cuartocolor);
}
/*
FOOTER
*/
.footer{
    width:100%;
    height:200px;
    background-color:var(--tercercolor);
    padding:0.1px;
}
.footer__socialnetworks{
    display: flex;
    justify-content: center;
    margin:57px auto 83px;
}
.socialnetwork__item{
    color:var(--cuartocolor);
    margin:0 20px;
    width:100px;
    height:60px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
}
.socialnetwork__item:nth-child(1){
background-color:#1da1f2;
}
.socialnetwork__item:nth-child(2){
    background-color:#1877f2;
}
.socialnetwork__item:nth-child(3){
background-color:#ff0000;
}
.socialnetwork__item:nth-child(4){
    background-color:#e1306c;
}
.socialnetwork__item:nth-child(5){
    background-color:#333;
}