@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400;1,700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primercolor:#3895EA;
    --segundocolor:#5A5A5A;
    --tercercolor:#323068;  
    --cuartocolor:#F2F2F2;
    --quintocolor:#DD820D;
    --fuente:'Open Sans', sans-serif; 
}
.header{
    position:relative;
}
.header__banner{
    background-image:linear-gradient(rgba(74,100,231,.8),rgba(12,78,154,.8)), url(../img/banner.jpg);
    background-size: cover;
    background-position: center ;
    width:100%;
    height:600px;
    padding:0.1px;
}

.navbar__menu{
    display:flex;
    justify-content: flex-end;
    margin-top: 40px;
    margin-right: 180px;
}
.navlinks{
    list-style: none;
    padding:0 20px;
    font-family:var(--fuente);
    font-size:16px;
    color:var(--cuartocolor);
}
.header__logo{
    border:2px solid var(--cuartocolor);
    position:absolute;
    width:340px;
    height:125px;
    text-align: center;
    margin: 160px 530px;
}
.header__logo h1{
    font-size:50px;
    font-weight: 100;
    font-family: var(--fuente);
    color:var(--cuartocolor);
}
.header__logo p{
    font-weight: 100;
    font-size:25px;
    font-family: var(--fuente);
    color:var(--cuartocolor);
}

.acerca__de{
    background-color: transparent;
    width:830px;
    height:305px;
    position:absolute;
    left:50%;
    right:50%;
    transform:translate(-50%,-50%);
    margin-top: 90px;
}
.acerca__img{
    background-image: url(../img/img.jpg);
    background-size: cover;
    background-position:left center;
    background-repeat: no-repeat;
    width:125px;
    height:125px;
    border-radius: 50%;
    margin:0 auto;
    outline: rgba(255, 255, 255, 0.200) solid 7px;
}
.acerca__de h2{
    font-family: var(--fuente);
    color:var(--quintocolor);
    font-weight:100;
    font-size:34px;
    text-align: center;
    margin-top: 30px;
}
.acerca__de p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 100;
    font-family: var(--fuente);
    text-align: center;
}
.acerca__de span{
    color:var(--primercolor);
}